<%- include('header');%>
<div id="container">

	<div id="presentation-formation">
		<h2>Ma formation: "Développeur Web et Web Mobile"</h2>

		<div id="presentation-content">
			<p> Je prépare actuellement le titre professionnel de "Développeur Web et Web Mobile" au centre AFPA de Chartres.
				Cette formation d'une durée de 8 mois a pour objectif de me permettre de produire et de maintenir aussi bien la partie front-end
				que back-end d'une application web. Pour cela, sous la supervision de mon formateur j'ai étudié un certains nombre de frameworks et langages informatiques qui vous sont détaillés plus bas. Pour en savoir plus sur les modalités de ma formation je vous invite à consulter la page qui lui est dédiée sur <a href="https://www.afpa.fr/formation-qualifiante/developpeur-logiciel" style="color: initial;" target="_blank">le site de l'AFPA.</a>
			</p>
			<div id="presentation-img">
				<figure>
					<a href="https://www.afpa.fr/formation-qualifiante/developpeur-logiciel" target="_blank">
		    			<img src="/static/images/afpaDevWeb.PNG" alt="page dév web afpa">
		    			<figcaption>La formation développeur web sur le site de l'AFPA</figcaption>
	    			</a>
				</figure>
			</div>
		</div>
		
	</div>

<div id="front-back">
	<div id="front">
		<h3>Front-end</h3>
		<div>
			<img src="/static/images/css.png">
			<img src="/static/images/js.png">
		</div>
		<div class="logo-row">
			<img src="/static/images/bootstrap.png">
			<img src="/static/images/jquery.png">
		</div>
		
	</div>

	<div id="back">
		<h3>Back-end</h3>

		<div>
			<img id="wpPic" src="/static/images/wp.png">
			<img style=" margin-left: 6%;" src="/static/images/nodejs.png">
			<img src="/static/images/php.png">
			
		</div>
		<div class="logo-row">
			<img src="/static/images/mongodb.png">
			<img id="mysqlPic" src="/static/images/mysql.png">
			
		</div>
		
	</div>
</div>

<div id="front-backM">
	<div id="front">
		<h3>Front-end</h3>
		
			<img src="/static/images/css.png">
			<img src="/static/images/js.png">
		
		
			<img src="/static/images/bootstrap.png">
			<img src="/static/images/jquery.png">
		
		
	</div>

	<div id="back">
		<h3>Back-end</h3>

		
			<img id="wpPic" src="/static/images/wp.png">
			<img style=" margin-left: 6%;" src="/static/images/nodejs.png">
			<img src="/static/images/php.png">
			
		
		
			<img src="/static/images/mongodb.png">
			<img id="mysqlPic" src="/static/images/mysql.png">
			
		
		
	</div>
</div>


	
	

	
	
		
</div>

<%- include('footer');%>