<%- include('header');%>
<div id="container">

	<div id="intro"><p class="intro-text">Bienvenue sur mon portfolio !</p></div>


	<div id="questions">
		
		<div id="whoAmI">
			<div class="first-row"><h2 id="subTitle1">"Qui suis-je..." </h2>
				
				<div id="circle">
					<div id="circle1"><p>?</p></div>
				</div>
				
			</div>
			
		
			<p class="content-text">Adrien Alvarez-Vanhard, actuellement en formation de "Développeur Web et Web Mobile" au centre <a href="https://www.afpa.fr/centre/centre-de-chartres" style="color: initial;" target="_blank">AFPA de Chartres</a>.</p>
		</div>

		<div id="why">

			<div class="first-row"><h2 id="subTitle2">"Pourquoi ce site..." </h2>
				<div id="circle">
					<div id="circle1"><p>?</p></div>
				</div>
			</div>

			<p class="content-text">Actuellement à la recherche d'un stage je souhaite grâce à cette réalisation vous donnez envie d'en apprendre d'avantage sur moi ainsi que de vous montrer les compétences que j'ai acquises à ce jour. </p>
		</div>

	</div>

	<div id="questionsM">
		
		<div id="whoAmIM">
			<div class="first-row"><h2 id="subTitle1">"Qui suis-je ?" </h2>
				
				
				
			</div>
			
		
			<p class="content-textM">Adrien Alvarez-Vanhard, actuellement en formation de "Développeur Web et Web Mobile" au centre <a href="https://www.afpa.fr/centre/centre-de-chartres" style="color: initial;" target="_blank">AFPA de Chartres</a>.</p>
		</div>

		<div id="whyM">

			<div class="first-row"><h2 id="subTitle2">"Pourquoi ce site ?" </h2>
				
			</div>

			<p class="content-textM">Actuellement à la recherche d'un stage je souhaite grâce à cette réalisation vous donnez envie d'en apprendre d'avantage sur moi ainsi que de vous montrer les compétences que j'ai acquises à ce jour. </p>
		</div>

	</div>


	<div id="full-width">
		<p>Bonne visite !</p>

	</div>
			
</div>

<%- include('footer');%>